#app {
    height: 97vh;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

#game-canvas {
    display: flex;
    justify-content: center;
}

.score {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    width: 530px;
}

.game-cont {
    position: relative;
}


.load-cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    left: 4px;
    z-index: 21;
    border-radius: 52px;
    font-family: 'Arcade Normal', sans-serif;
    font-size: 2rem;
    height: 600px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    .loading-box {
        display: flex;
        align-items: end;
        gap: 0.3rem
    }
}

.letter {
  opacity: 0.2;
  animation: dot-flash 1.5s infinite;
}

.letter.l1 { animation-delay: 0s; }
.letter.l2 { animation-delay: 0.1s; }
.letter.l3 { animation-delay: 0.2s; }
.letter.l4 { animation-delay: 0.3s; }
.letter.l5 { animation-delay: 0.4s; }
.letter.l6 { animation-delay: 0.5s; }
.letter.l7 { animation-delay: 0.6s; }

.dot {
    letter-spacing: -0.7rem !important;
}

.letter.dot:nth-child(1) { animation-delay: 0.7s; }
.letter.dot:nth-child(2) { animation-delay: 0.8s; }
.letter.dot:nth-child(3) { animation-delay: 0.9s; }

.start-game {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #FFEE00;
    border-radius: 3rem;
    background-image: url('../images/home.png');
    background-size: cover;
}

.snake-profile {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 35px;
    right: 32px;
    padding: 8px;
    cursor: pointer;
}

.logout {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 35px;
    left: 30px;
    padding: 8px;
    cursor: pointer;
}

.snake-logo {
    margin-top: 116px;
}

.menu-buttons {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.start-game-img {
    display: block;
    width: 355px;
    height: 74px;
}

.button-text {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFEE00; 
  font-family: 'Arcade Normal', sans-serif;
  font-size: 16px; 
  pointer-events: none;
  text-shadow: 1px -2px black;
}

.start-game-btn:hover {
    color: rgba(239, 112, 255);
}

.screenshot-img {
    width: 100%;
    height: 300px;
}

.end-game-dialog {
    width: 340px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 0, 147);
    position: absolute;
    z-index: 20;
    padding: 1.5rem;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    .end-score {
        font-size: 1.7rem;
        color: white;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    .end-button {
        margin-top: 2.5rem;
        width: 60%;
        height: 48px;
    }
}

.user-dialog {
    width: 600px;
    height: 600px;
    background-image: url('../images/bg.png');
    background-size: cover;
    border: 4px solid #FFEE00;
    border-radius: 3rem;

    .tabs {
        margin-left: 2rem;
        margin-top: 1rem;

        .tab {
            display: inline-block;
            padding: 1rem;
            padding-bottom: 0.7rem;
            cursor: pointer;
            color: white;
            margin-right: 1rem;

            .tab-image {
                max-height: 50px;
                width: auto;
            }

            .tab-image:hover {
                transform: scale(1.4);
            }

            .tab-image.hovered {
                transform: scale(1.4);
            }
        }
    }    
}

.user-dialog .tab:first-of-type {
    padding-left: 2rem;
}

.friends-container {
    height: 85%;
    overflow: auto;
    white-space: nowrap;
    padding: 0 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    .friends-search {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        input {
            height: 2.1rem;
            font-family: 'Arcade Rounded', sans-serif;
            font-size: 0.5rem;
            padding-left: 0.5rem;
            width: 200px;
            border: none;
            outline: none;
        }

        button {
            height: 36px;
            font-weight: bold;
            padding: 0.5rem 1rem 0.5rem 1rem;
            font-family: 'Arcade Rounded', sans-serif;
            background-color: #F0E27B;
            cursor: pointer;
            border: none;
        }
    }

    .friends-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .friends-send-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 26%;
        padding: 0.8rem;
        background-color: #F0E27B;
        font-family: 'Arcade Rounded', sans-serif;
        font-size: 0.6rem;
        border-radius: 10px;
        height: 25px;
    }

    .friends-button {
        border: none;
        background-color: #F0E27B;
        font-family: 'Arcade Rounded', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
    }

    .friends-button:hover {
        scale: 1.05;
    }

    .friends-username {
        font-weight: bold;
    }

    .friend-requests {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .friend-req-card {
            font-family: 'Arcade Rounded', sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #F0E27B;
            border-radius: 10px;
            padding: 0.8rem 2rem 0.8rem 2rem;

            .friend-req-buttons {
                display: flex;
                gap: 1rem;

                button {
                    font-weight: bold;
                    padding: 0.5rem 1rem 0.5rem 1rem;
                    font-family: 'Arcade Rounded', sans-serif;
                    border: 2px solid black;
                    cursor: pointer;
                }

                button:hover{
                    scale: 1.05;
                }
            }
        }
    }
}

.match-container {
    height: 76%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1px;
    border-radius: 40px 20px 20px 40px;
}

.match-card {
    padding: 1.3rem 2rem;
    border-top: 2px solid #ea8df2;
    border-bottom: 2px solid #ea8df2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arcade Rounded', sans-serif;
    font-size: 12px;
    min-height: 25px;

    .match-opponent {
        font-weight: bold;
    }
    
    .match-score-cont {
        display: flex;
        align-items: center;
    
        .match-score {
            /* font-size: 1.3rem; */
        }

        .match-img {
            height: 36px;
            width: 36px;
        }
    }


    .match-time {
        /* font-size: 0.8rem; */
    }
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    border: 1px solid #11eb5d;
    text-align: left;
}

.leaderboard-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.leaderboard-table td {
    background-color: #f8f8f8;
}

.highlight-target td {
    background-color: yellowgreen;
}

.divider {
    font-size: 1.4rem;
    color: #F0E27B;
    border-bottom: 3px solid #F0E27B;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Arcade Rounded', sans-serif;
    text-shadow: 1px -2px black;
}

.grass-terrain-single {
    position: absolute;
    width: 653.4px;
    height: 653.4px;
}

@keyframes dot-flash {

    0%,
    20% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes letter-flash {

    0%,
    20% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.cake-score-cont {
    margin-top: 3.3rem;
    width: 770px;
    height: 600px;
    position: absolute;
    display: flex;
    justify-content: space-between;

    .cake-score {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .part {
            display: flex;
            align-items: center;
            gap: 1rem;

            .part-image {
                width: 28px;
                height: 28px;
            }

            .part-text {
                color: black;
                font-size: 1.5rem;
                margin-top: 0.2rem;
            }
        }
    }
}

.end-cake-score-cont {
    width: 150px;

    .end-cake-score {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        .end-part {
            display: flex;
            align-items: center;
            gap: 1rem;

            .end-part-image {
                width: 23px;
                height: 23px;
            }

            .end-part-text {
                color: white;
                font-size: 1.2rem;
                margin-top: 0.2rem;
            }
        }
    }
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0e5d2;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #dfa70b; /* scrollbar “thumb” (the draggable part) */
  border-radius: 6px;        /* rounded corners */
  border: 3px solid #f0e5d2; /* optional padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8c752f;  /* darker on hover */
}

/* Optional: scrollbar corner for 2D scrollbars */
::-webkit-scrollbar-corner {
  background: #f0e5d2;
}



/* font-family: 'Arcade Interlaced', sans-serif;
font-family: 'Arcade Normal', sans-serif;
font-family: 'Arcade Rounded', sans-serif; */