/* some style */

#app{
    height: 92vh;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#game-canvas{
    display: flex;
    justify-content: center;
}

.score{
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    width: 530px;
}
